language: python
python:
    - 2.7
    - 3.5
    - 3.6
    - nightly
    - pypy
    - pypy3
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true
script:
  - python setup.py flake8
  - python setup.py test
cache: pip
branches:
  only:
    - "master"
